.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: flex;
    padding: 32px;
    width: calc(100% - 30px);

    background-color: #fff;
}

.popup-inner .save-btn {
    position: relative;
}

.popup-inner .cancel-btn {
    position: relative;
}